body {
    background-color: aliceblue;
}

#currentCard {
    width:85.6mm;
    height: 54mm;
    border-radius: 5%;
    background: linear-gradient(to top left, #080b13 0%, #5b6376 100%);
    color:white;

    #titleBlock {
        padding:5mm 10mm;
        display:flex;
        justify-content: space-between;
        h3, p {
            margin:0;
        }
        h3 {
            font-weight: bold;
        }
    }
    #debtBlock {
        padding:5mm 10mm;
        h3, p {
            margin: 2mm 0;
        }
        h3 {
            font-weight: bold;
        }
    }
   
}
